<!-- templates/login/login.html -->

    {% extends 'login/base.html' %}
    {% block title %} Iniciar sesión {% endblock %}
    {% block content %}
    <div class="row">
        <div class="col-md-10 mx-auto social-container my-2 order-md-1">
            
            <a class="btn btn-primary btn-block mb-2" href="{% url 'social:begin' 'facebook' %}" role="button">
                <i class="fab fa-facebook-f"></i>
                Iniciar con Facebook
            </a>
            <a class="btn btn-info btn-block mb-2" href="{% url 'social:begin' 'instagram' %}" role="button">
                <i class="fab fa-instagram"></i>
                Iniciar con Instagram
            </a>
            <a class="btn btn-danger btn-block mb-2" href="{% url 'social:begin' 'google-oauth2' %}" role="button">
                <i class="fab fa-google"></i>
                Iniciar con Google
            </a>
            
        </div>
    </div>
    </div>
    {% endblock %} 